# Core dependencies
pydantic==2.10.5  #  auto install 2.11.1 will leads to additionalProperties=true cause gradio get_api_info fail, by mr ba5bo 20250402
gradio==5.21.0
gradio_client==1.7.2
qwen-vl-utils==0.0.10
transformers-stream-generator==0.0.4
torch==2.4.0
torchvision==0.19.0
git+https://github.com/huggingface/transformers.git
accelerate
#autoawq>=0.1.8
av

optimum //for q4 quantitive
auto-gptq // is better than gptqmodel in memory usage

wheel

# Optional dependency
# Uncomment the following line if you need flash-attn
flash-attn==2.6.1
